<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>Access Forbidden</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="author" content="Moorexa Expressive PHP Framework, Amadi ifeanyi, WekiWork">
        <meta name="description" content="Your access has been Forbidden. So sorry!">
        <meta name="keywords" content="Moorexa, Moorexa Access Forbidden, Forbidden">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=noja">
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="0">
        <meta name="robots" content="index, follow">
        <style type="text/css">
            body{width: 100%; height: 100vh; margin: 0;}
            h1{font-size: 3em; margin-bottom: 20px;}
            .wrapper{display: flex; justify-content: center; align-items: center; text-align: center; height: 100%;}
            .wrapper p{font-size: 16px;}
            .wrapper-inner{width: 400px;}
            .wrapper-inner a{color: #000;}
            .footer{margin-top: 50px;}
        </style>
    </head>
    <body>
        <div class="wrapper">
            <div class="wrapper-inner">
                <h1>Access Forbidden</h1>
                <p>You have a restricted access to this page. <em>This file lives in <?=__FILE__?></em></p>
                <a href="">I'm done here</a>

                <footer class="footer">
                    <p>&copy; Copyright <?=date('Y')?>, All rights reserved.</p>
                </footer>
            </div>
        </div>
    </body>
</html>