<?php

// define the application root
if (!defined('APPLICATION_ROOT')) define('APPLICATION_ROOT', 'framework/');

// define fatapi base
if (!defined('FATAPI_BASE')) define('FATAPI_BASE', './src/');

// define composer
if (!defined('COMPOSER')) define('COMPOSER', 'vendor/autoload.php');

// define CLI caller
if (!defined('FRAMEWORK_CLI')) define('FRAMEWORK_CLI', 'assist');

// define CLI manager
if (!defined('FRAMEWORK_CLI_MANAGER')) define('FRAMEWORK_CLI_MANAGER', APPLICATION_ROOT . '/' . FRAMEWORK_CLI);

// load fatapi autoloader
require_once FATAPI_BASE . '/autoloader.php';